$font-stack: 'Segoe UI', Helvetica, sans-serif;
$Flame: #dc5318 ;
$MaximumRed: #d0342b ;
$color1: #1f2124;
$color3: #f6b352;
$color4: #f66152;
$color5: #2c3e50;
$color6: #42b983;
$color7: #2f2f2f;
$color8: #c80815;
$color9: #fc4c02;
$Honeydew: #e0f2e9 ;
$whitey: #ececec ;
$Dark_Jungle_Green: #002626 ;
$Midnight_Green_Eagle_Green: #004e64 ;
$spanish_green: #28965A;

// Colors Tag
// beige light pallete
//  #faf0e6 	
// 	#fff0db 	
// 	#eed9c4 
// 	#e4d5b7 
// 	#d9b99b 
// Whites
  /* background-color: #FEF9A7; */
  /* background-color: #FCFFE7; */
  /* background-color: #FBE6C2; */
  /* background-color: #FEFFDB; */
// Grays
  /* background-color: #E0D8B0; */
  /* background-color: #D5DBB3; */
  /* background-color: #E7E6E1; */
// Greens
  /* background-color: #95BF74; */
  /* background-color: #95BF74; */
  /* background-color: #95BF74; */
  /* background-color: #95BF74; */
// Blues
  /* background-color: #17BEBB; */
  /* background-color: #4CACBC; */
// Golds
  /* background-color: #F7FD04; */


// Natural Palette
  /* background-color: #F6E3C5; */
  /* background-color: #A0D995; */
  /* background-color: #6CC4A1; */
  /* background-color: #4CACBC; */



$breakpoint-sm: 640px;
$breakpoint-md: 760px; 
$breakpoint-lg: 1024px; 
$breakpoint-xl: 1280px; 
$breakpoint-xl: 1536px; 